.chips > *{
    margin:0.9em 0.5em;
    padding:1.4em 1em;
    border-radius: 2em;
}

.favAr > *{
    margin:0.2em 0.5em;
}

.favAr{
    background-color: transparent;
    align-items: center;
    padding:0;
}